.zuik-color {
    appearance: none;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    height: 1.8em;
    line-height: 1;
    margin: .1em 0 0 0;
    padding: 0;
    position: relative;
    width: 1.8em;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-webkit-color-swatch {
        appearance: none;
        border-radius: .35em;
        border: none;
        box-shadow: 0 0 .1em 0 var(--zuik-color-gray);
    }
}
