.zuik-select {
    appearance: none;
    background-color: var(--zuik-color-bg-main);
    background-image: linear-gradient(45deg, transparent 50%, var(--zuik-color-text-second) 50%, var(--zuik-color-text-second) calc(50% + 1px), transparent calc(50% + 1px)), linear-gradient(-45deg, transparent 50%, var(--zuik-color-text-second) 50%, var(--zuik-color-text-second) calc(50% + 1px), transparent calc(50% + 1px));
    background-position: right 1em top calc(.85em), right .68em top calc(.85em);
    background-repeat: no-repeat;
    background-size: .4em .4em;
    border-radius: .35em;
    border: 1px solid var(--zuik-color-text-second);
    box-shadow: none;
    color: var(--zuik-color-text-main);
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bolder;
    height: 2em;
    line-height: 1;
    margin: 0;
    max-width: 100%;
    padding: 0 1.7em 0 .5em;
    position: relative;
    text-overflow: ellipsis;
    width: 100%;

    &:focus {
        outline: none;
    }

    option {
        font-weight: normal;
    }
}

/*
    TODO: add rtl support
*/